<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gnulinuxusersgroup.nitdgp.glug">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/glugicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".WelcomeActivity" />
        <activity
            android:name=".MainActivity"
            android:label="GLUG"
            android:theme="@style/AppTheme" />
        <activity android:name=".GlugwebActivity" />
        <activity android:name=".MuktiwebActivity" />
        <activity android:name=".FaqsActivity" />
        <activity android:name=".ContactsActivity" />
        <activity android:name=".MembersActivity" />
        <activity android:name=".WorkshopsActivity" />
        <activity android:name=".AboutUsActivity" />
        <activity android:name=".FeedbackActivity"></activity>
    </application>

</manifest>